<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ViewController</key>
	<dict>
		<key>加入新檔案必須在檔案頁進行</key>
		<dict>
			<key>cn</key>
			<string>加入新档案必须在档案页进行</string>
		</dict>
		<key>要加入新的用戶資料嗎</key>
		<dict>
			<key>cn</key>
			<string>要加入新的用户资料吗</string>
		</dict>
		<key>新用戶資料加入完成</key>
		<dict>
			<key>cn</key>
			<string>新用戶资料加入完成</string>
		</dict>
	</dict>
	<key>AACViewController</key>
	<dict>
		<key>遊戲</key>
		<dict>
			<key>cn</key>
			<string>游戏</string>
		</dict>
		<key>檔案</key>
		<dict>
			<key>cn</key>
			<string>档案</string>
		</dict>
		<key>系統設置</key>
		<dict>
			<key>cn</key>
			<string>系统设置</string>
		</dict>
		<key>網頁</key>
		<dict>
			<key>cn</key>
			<string>网页</string>
		</dict>
		<key>關閉</key>
		<dict>
			<key>cn</key>
			<string>关闭</string>
		</dict>
		<key>配對</key>
		<dict>
			<key>cn</key>
			<string>配对</string>
		</dict>
		<key>排序</key>
		<dict>
			<key>cn</key>
			<string>排序</string>
		</dict>
		<key>檔案設定</key>
		<dict>
			<key>cn</key>
			<string>档案设定</string>
		</dict>
		<key>系統設定</key>
		<dict>
			<key>cn</key>
			<string>系统设定</string>
		</dict>
		<key>掃視遊戲</key>
		<dict>
			<key>cn</key>
			<string>扫视游戏</string>
		</dict>
		<key>造句遊戲</key>
		<dict>
			<key>cn</key>
			<string>造句游戏</string>
		</dict>
		<key>組句遊戲</key>
		<dict>
			<key>cn</key>
			<string>组句游戏</string>
		</dict>
		<key>設置</key>
		<dict>
			<key>cn</key>
			<string>设置</string>
		</dict>
	</dict>
	<key>ProfileViewController</key>
	<dict>
		<key>名稱</key>
		<dict>
			<key>cn</key>
			<string>名称</string>
		</dict>
		<key>備註</key>
		<dict>
			<key>cn</key>
			<string>备注</string>
		</dict>
		<key>更改</key>
		<dict>
			<key>cn</key>
			<string>更改</string>
		</dict>
		<key>單卡模式</key>
		<dict>
			<key>cn</key>
			<string>单卡模式</string>
		</dict>
		<key>按卡發聲</key>
		<dict>
			<key>cn</key>
			<string>按卡发声</string>
		</dict>
		<key>鎖定滑動翻頁</key>
		<dict>
			<key>cn</key>
			<string>锁定滑动翻页</string>
		</dict>
		<key>排列</key>
		<dict>
			<key>cn</key>
			<string>排列</string>
		</dict>
		<key>標題</key>
		<dict>
			<key>cn</key>
			<string>标题</string>
		</dict>
		<key>聲音</key>
		<dict>
			<key>cn</key>
			<string>声音</string>
		</dict>
		<key>編輯圖卡</key>
		<dict>
			<key>cn</key>
			<string>编辑图卡</string>
		</dict>
		<key>刪除檔案</key>
		<dict>
			<key>cn</key>
			<string>删除档案</string>
		</dict>
		<key>你確定要刪除這個檔案?</key>
		<dict>
			<key>cn</key>
			<string>你确定要删除这个档案？</string>
		</dict>
		<key>主頁面顯示</key>
		<dict>
			<key>cn</key>
			<string>主页面显示</string>
		</dict>
		<key>確定</key>
		<dict>
			<key>cn</key>
			<string>确定</string>
		</dict>
		<key>單卡</key>
		<dict>
			<key>cn</key>
			<string>單卡</string>
		</dict>
		<key>多卡</key>
		<dict>
			<key>cn</key>
			<string>多卡</string>
		</dict>
		<key>句子列</key>
		<dict>
			<key>cn</key>
			<string>句子列</string>
		</dict>
		<key>你確定要還原為預設圖案嗎?</key>
		<dict>
			<key>cn</key>
			<string>你确定要还原为预设图案吗？</string>
		</dict>
		<key>預設圖案</key>
		<dict>
			<key>cn</key>
			<string>预设图案</string>
		</dict>
		<key>分享檔案</key>
		<dict>
			<key>cn</key>
			<string>分享檔案</string>
		</dict>
		<key>檔案相片</key>
		<dict>
			<key>cn</key>
			<string>檔案相片</string>
		</dict>
		<key>新增檔案</key>
		<dict>
			<key>cn</key>
			<string>新增档案</string>
		</dict>
		<key>開啟溝通簿</key>
		<dict>
			<key>cn</key>
			<string>开启沟通簿</string>
		</dict>
		<key>建立新檔案</key>
		<dict>
			<key>cn</key>
			<string>建立新档案</string>
		</dict>
		<key>複製現有檔案</key>
		<dict>
			<key>cn</key>
			<string>复制现有档案</string>
		</dict>
		<key>顯示選擇框</key>
		<dict>
			<key>cn</key>
			<string>显示选择框</string>
		</dict>
	</dict>
	<key>EditAACViewController</key>
	<dict>
		<key>圖庫</key>
		<dict>
			<key>cn</key>
			<string>图库</string>
		</dict>
		<key>相簿</key>
		<dict>
			<key>cn</key>
			<string>相簿</string>
		</dict>
		<key>相機</key>
		<dict>
			<key>cn</key>
			<string>相机</string>
		</dict>
		<key>男聲</key>
		<dict>
			<key>cn</key>
			<string>男声</string>
		</dict>
		<key>女聲</key>
		<dict>
			<key>cn</key>
			<string>女声</string>
		</dict>
		<key>自定聲</key>
		<dict>
			<key>cn</key>
			<string>自定声</string>
		</dict>
		<key>更改自定聲</key>
		<dict>
			<key>cn</key>
			<string>更改自定声</string>
		</dict>
		<key>刪除自定聲</key>
		<dict>
			<key>cn</key>
			<string>删除自定声</string>
		</dict>
		<key>刪除</key>
		<dict>
			<key>cn</key>
			<string>删除</string>
		</dict>
		<key>選擇</key>
		<dict>
			<key>cn</key>
			<string>选择</string>
		</dict>
		<key>打開</key>
		<dict>
			<key>cn</key>
			<string>打开</string>
		</dict>
		<key>加類別</key>
		<dict>
			<key>cn</key>
			<string>加类别</string>
		</dict>
		<key>確定</key>
		<dict>
			<key>cn</key>
			<string>确定</string>
		</dict>
		<key>對調</key>
		<dict>
			<key>cn</key>
			<string>对调</string>
		</dict>
		<key>對調字卡時不能返回上層</key>
		<dict>
			<key>cn</key>
			<string>对调字卡时不能返回上层</string>
		</dict>
		<key>不能在空頁上加頁</key>
		<dict>
			<key>cn</key>
			<string>不能在空页上加页</string>
		</dict>
		<key>你確定要刪除這個頁?</key>
		<dict>
			<key>cn</key>
			<string>你确定要删除这个页?</string>
		</dict>
		<key>你確定要刪除這卡?</key>
		<dict>
			<key>cn</key>
			<string>你确定要删除这卡？</string>
		</dict>
		<key>確定刪除</key>
		<dict>
			<key>cn</key>
			<string>确定刪除</string>
		</dict>
	</dict>
	<key>RecorderViewController</key>
	<dict>
		<key>刪除</key>
		<dict>
			<key>cn</key>
			<string>删除</string>
		</dict>
		<key>錄音</key>
		<dict>
			<key>cn</key>
			<string>录音</string>
		</dict>
		<key>確定</key>
		<dict>
			<key>cn</key>
			<string>确定</string>
		</dict>
	</dict>
	<key>MatchingGame</key>
	<dict>
		<key>初級</key>
		<dict>
			<key>cn</key>
			<string>初级</string>
		</dict>
		<key>高級</key>
		<dict>
			<key>cn</key>
			<string>高级</string>
		</dict>
		<key>兩張咭</key>
		<dict>
			<key>cn</key>
			<string>两张咭</string>
		</dict>
		<key>三張咭</key>
		<dict>
			<key>cn</key>
			<string>三张咭</string>
		</dict>
		<key>八張咭</key>
		<dict>
			<key>cn</key>
			<string>八张咭</string>
		</dict>
		<key>十二張咭</key>
		<dict>
			<key>cn</key>
			<string>十二张咭</string>
		</dict>
		<key>十八張咭</key>
		<dict>
			<key>cn</key>
			<string>十八张咭</string>
		</dict>
		<key>恭喜！您已完成所有題目，總分如下：</key>
		<dict>
			<key>cn</key>
			<string>恭喜！您已完成所有题目，总分如下：</string>
		</dict>
		<key>分數</key>
		<dict>
			<key>cn</key>
			<string>分数</string>
		</dict>
		<key>重覆播放</key>
		<dict>
			<key>cn</key>
			<string>重覆播放</string>
		</dict>
	</dict>
	<key>SequencingGame</key>
	<dict>
		<key>組句遊戲</key>
		<dict>
			<key>cn</key>
			<string>组句游戏</string>
		</dict>
		<key>聲音提示</key>
		<dict>
			<key>cn</key>
			<string>声音提示</string>
		</dict>
		<key>確定</key>
		<dict>
			<key>cn</key>
			<string>确定</string>
		</dict>
		<key>重做</key>
		<dict>
			<key>cn</key>
			<string>重做</string>
		</dict>
		<key>累積分數</key>
		<dict>
			<key>cn</key>
			<string>累积分数</string>
		</dict>
		<key>二張咭</key>
		<dict>
			<key>cn</key>
			<string>二张咭</string>
		</dict>
		<key>三張咭</key>
		<dict>
			<key>cn</key>
			<string>三张咭</string>
		</dict>
		<key>四張咭</key>
		<dict>
			<key>cn</key>
			<string>四张咭</string>
		</dict>
		<key>五張咭</key>
		<dict>
			<key>cn</key>
			<string>五张咭</string>
		</dict>
		<key>六張咭</key>
		<dict>
			<key>cn</key>
			<string>六张咭</string>
		</dict>
		<key>總數：</key>
		<dict>
			<key>cn</key>
			<string>总数：</string>
		</dict>
		<key>正確：</key>
		<dict>
			<key>cn</key>
			<string>正确：</string>
		</dict>
		<key>錯誤：</key>
		<dict>
			<key>cn</key>
			<string>错误 :</string>
		</dict>
	</dict>
	<key>LibCardSelectorViewController</key>
	<dict>
		<key>搜尋</key>
		<dict>
			<key>cn</key>
			<string>搜寻</string>
		</dict>
		<key>選擇</key>
		<dict>
			<key>cn</key>
			<string>选择</string>
		</dict>
		<key>關閉</key>
		<dict>
			<key>cn</key>
			<string>关闭</string>
		</dict>
		<key>沒有搜尋字</key>
		<dict>
			<key>cn</key>
			<string>没有搜寻字</string>
		</dict>
		<key>沒有相關字卡</key>
		<dict>
			<key>cn</key>
			<string>没有相关字卡</string>
		</dict>
	</dict>
	<key>AlertView</key>
	<dict>
		<key>關閉</key>
		<dict>
			<key>cn</key>
			<string>关闭</string>
		</dict>
	</dict>
	<key>ActionSheet</key>
	<dict>
		<key>確定刪除</key>
		<dict>
			<key>cn</key>
			<string>确定刪除</string>
		</dict>
		<key>確定</key>
		<dict>
			<key>cn</key>
			<string>确定</string>
		</dict>
		<key>取消</key>
		<dict>
			<key>cn</key>
			<string>取消</string>
		</dict>
	</dict>
	<key>SettingViewController</key>
	<dict>
		<key>系統保護</key>
		<dict>
			<key>cn</key>
			<string>系统保护</string>
		</dict>
		<key>介面語言</key>
		<dict>
			<key>cn</key>
			<string>介面语言</string>
		</dict>
		<key>需按「設定」鍵及「檔案頁」鍵3秒</key>
		<dict>
			<key>cn</key>
			<string>需按「设定」键及「档案页」键3秒</string>
		</dict>
	</dict>
	<key>StartingViewController</key>
	<dict>
		<key>開啟溝通簿</key>
		<dict>
			<key>cn</key>
			<string>开启沟通簿</string>
		</dict>
		<key>進入</key>
		<dict>
			<key>cn</key>
			<string>进入</string>
		</dict>
	</dict>
</dict>
</plist>
