<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sentences</key>
	<array>
		<dict>
			<key>sentence_id</key>
			<string>lv40001</string>
			<key>status</key>
			<string>1</string>
			<key>items</key>
			<array>
				<dict>
					<key>is_card</key>
					<true/>
					<key>card_id</key>
					<string>我唔明白</string>
					<key>image_custom</key>
					<string></string>
					<key>voice_custom</key>
					<string></string>
					<key>caption_custom</key>
					<string></string>
					<key>border_color_id</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>is_card</key>
					<true/>
					<key>card_id</key>
					<string>點解</string>
					<key>image_custom</key>
					<string></string>
					<key>voice_custom</key>
					<string></string>
					<key>caption_custom</key>
					<string></string>
					<key>border_color_id</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>is_card</key>
					<true/>
					<key>card_id</key>
					<string>要</string>
					<key>image_custom</key>
					<string></string>
					<key>voice_custom</key>
					<string></string>
					<key>caption_custom</key>
					<string></string>
					<key>border_color_id</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>is_card</key>
					<true/>
					<key>card_id</key>
					<string>返工</string>
					<key>image_custom</key>
					<string></string>
					<key>voice_custom</key>
					<string></string>
					<key>caption_custom</key>
					<string></string>
					<key>border_color_id</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>sentence_id</key>
			<string>lv40002</string>
			<key>status</key>
			<string>1</string>
			<key>items</key>
			<array>
				<dict>
					<key>is_card</key>
					<true/>
					<key>card_id</key>
					<string>雞翼</string>
					<key>image_custom</key>
					<string></string>
					<key>voice_custom</key>
					<string></string>
					<key>caption_custom</key>
					<string></string>
					<key>border_color_id</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>is_card</key>
					<true/>
					<key>card_id</key>
					<string>叉燒</string>
					<key>image_custom</key>
					<string></string>
					<key>voice_custom</key>
					<string></string>
					<key>caption_custom</key>
					<string></string>
					<key>border_color_id</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>is_card</key>
					<true/>
					<key>card_id</key>
					<string>香腸</string>
					<key>image_custom</key>
					<string></string>
					<key>voice_custom</key>
					<string></string>
					<key>caption_custom</key>
					<string></string>
					<key>border_color_id</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>is_card</key>
					<true/>
					<key>card_id</key>
					<string>飯</string>
					<key>image_custom</key>
					<string></string>
					<key>voice_custom</key>
					<string></string>
					<key>caption_custom</key>
					<string></string>
					<key>border_color_id</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>sentence_id</key>
			<string>lv30001</string>
			<key>status</key>
			<string>1</string>
			<key>items</key>
			<array>
				<dict>
					<key>is_card</key>
					<true/>
					<key>card_id</key>
					<string>幾時</string>
					<key>image_custom</key>
					<string></string>
					<key>voice_custom</key>
					<string></string>
					<key>caption_custom</key>
					<string></string>
					<key>border_color_id</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>is_card</key>
					<true/>
					<key>card_id</key>
					<string>放假</string>
					<key>image_custom</key>
					<string></string>
					<key>voice_custom</key>
					<string></string>
					<key>caption_custom</key>
					<string></string>
					<key>border_color_id</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>is_card</key>
					<true/>
					<key>card_id</key>
					<string>踩單車</string>
					<key>image_custom</key>
					<string></string>
					<key>voice_custom</key>
					<string></string>
					<key>caption_custom</key>
					<string></string>
					<key>border_color_id</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>sentence_id</key>
			<string>lv30002</string>
			<key>status</key>
			<string>1</string>
			<key>items</key>
			<array>
				<dict>
					<key>is_card</key>
					<true/>
					<key>card_id</key>
					<string>上堂</string>
					<key>image_custom</key>
					<string></string>
					<key>voice_custom</key>
					<string></string>
					<key>caption_custom</key>
					<string></string>
					<key>border_color_id</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>is_card</key>
					<true/>
					<key>card_id</key>
					<string>唔好</string>
					<key>image_custom</key>
					<string></string>
					<key>voice_custom</key>
					<string></string>
					<key>caption_custom</key>
					<string></string>
					<key>border_color_id</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>is_card</key>
					<true/>
					<key>card_id</key>
					<string>打機</string>
					<key>image_custom</key>
					<string></string>
					<key>voice_custom</key>
					<string></string>
					<key>caption_custom</key>
					<string></string>
					<key>border_color_id</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>sentence_id</key>
			<string>lv30003</string>
			<key>status</key>
			<string>1</string>
			<key>items</key>
			<array>
				<dict>
					<key>is_card</key>
					<true/>
					<key>card_id</key>
					<string>我要</string>
					<key>image_custom</key>
					<string></string>
					<key>voice_custom</key>
					<string></string>
					<key>caption_custom</key>
					<string></string>
					<key>border_color_id</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>is_card</key>
					<true/>
					<key>card_id</key>
					<string>食</string>
					<key>image_custom</key>
					<string></string>
					<key>voice_custom</key>
					<string></string>
					<key>caption_custom</key>
					<string></string>
					<key>border_color_id</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>is_card</key>
					<true/>
					<key>card_id</key>
					<string>雞蛋</string>
					<key>image_custom</key>
					<string></string>
					<key>voice_custom</key>
					<string></string>
					<key>caption_custom</key>
					<string></string>
					<key>border_color_id</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
