<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardsets</key>
	<array>
		<dict>
			<key>id</key>
			<string>sqcs_lv2_0001</string>
			<key>level</key>
			<string>2</string>
			<key>name</key>
			<string>遊戲一</string>
			<key>description</key>
			<string>組合出正確的兩字詞語</string>
			<key>set</key>
			<array>
				<array>
					<string>2_我</string>
					<string>2_食</string>
				</array>
				<array>
					<string>2_我</string>
					<string>2_飲</string>
				</array>
				<array>
					<string>2_我</string>
					<string>2_買</string>
				</array>
				<array>
					<string>2_媽媽</string>
					<string>2_煮</string>
				</array>
				<array>
					<string>2_爸爸</string>
					<string>2_坐</string>
				</array>
				<array>
					<string>2_哥哥</string>
					<string>2_去</string>
				</array>
				<array>
					<string>2_姐姐</string>
					<string>2_玩</string>
				</array>
				<array>
					<string>2_妹妹</string>
					<string>2_睇</string>
				</array>
				<array>
					<string>2_弟弟</string>
					<string>2_踢</string>
				</array>
				<array>
					<string>2_你</string>
					<string>2_聽</string>
				</array>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>sqcs_lv2_0002</string>
			<key>level</key>
			<string>2</string>
			<key>name</key>
			<string>遊戲二</string>
			<key>description</key>
			<string>組合出正確的句子</string>
			<key>set</key>
			<array>
				<array>
					<string>2_食</string>
					<string>2_麵包</string>
				</array>
				<array>
					<string>2_飲</string>
					<string>2_咖啡</string>
				</array>
				<array>
					<string>2_買</string>
					<string>2_手錶</string>
				</array>
				<array>
					<string>2_推</string>
					<string>2_輪椅</string>
				</array>
				<array>
					<string>2_切</string>
					<string>2_西瓜</string>
				</array>
				<array>
					<string>2_聽</string>
					<string>2_電話</string>
				</array>
				<array>
					<string>2_著</string>
					<string>2_冷衫</string>
				</array>
				<array>
					<string>2_洗</string>
					<string>2_杯</string>
				</array>
				<array>
					<string>2_睇</string>
					<string>2_舞獅</string>
				</array>
				<array>
					<string>2_剪</string>
					<string>2_報紙</string>
				</array>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>sqcs_lv2_0003</string>
			<key>level</key>
			<string>2</string>
			<key>name</key>
			<string>遊戲三</string>
			<key>description</key>
			<string>組合出正確的句子</string>
			<key>set</key>
			<array>
				<array>
					<string>2_去</string>
					<string>2_公園</string>
				</array>
				<array>
					<string>2_去</string>
					<string>2_超級市場1</string>
				</array>
				<array>
					<string>2_去</string>
					<string>2_圖書館</string>
				</array>
				<array>
					<string>2_去</string>
					<string>2_日本</string>
				</array>
				<array>
					<string>2_停止</string>
					<string>2_玩遊戲</string>
				</array>
				<array>
					<string>2_排隊</string>
					<string>2_寄信</string>
				</array>
				<array>
					<string>2_幫手</string>
					<string>2_搽藥膏</string>
				</array>
				<array>
					<string>2_喜歡</string>
					<string>2_睇YouTube</string>
				</array>
				<array>
					<string>2_驚</string>
					<string>2_吹頭</string>
				</array>
				<array>
					<string>2_冇</string>
					<string>2_交功課</string>
				</array>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>sqcs_lv2_0004</string>
			<key>level</key>
			<string>2</string>
			<key>name</key>
			<string>遊戲四</string>
			<key>description</key>
			<string>組合出正確的句子</string>
			<key>set</key>
			<array>
				<array>
					<string>2_污糟</string>
					<string>2_衫</string>
				</array>
				<array>
					<string>2_濕</string>
					<string>2_毛巾</string>
				</array>
				<array>
					<string>2_大</string>
					<string>2_白兔</string>
				</array>
				<array>
					<string>2_小</string>
					<string>2_羊</string>
				</array>
				<array>
					<string>2_肥</string>
					<string>2_司機</string>
				</array>
				<array>
					<string>2_酸</string>
					<string>2_芒果</string>
				</array>
				<array>
					<string>2_長</string>
					<string>2_間尺</string>
				</array>
				<array>
					<string>2_短</string>
					<string>2_頭髮</string>
				</array>
				<array>
					<string>2_靚</string>
					<string>2_波鞋</string>
				</array>
				<array>
					<string>2_紫色</string>
					<string>2_提子</string>
				</array>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>sqcs_lv3_0001</string>
			<key>level</key>
			<string>3</string>
			<key>name</key>
			<string>遊戲一</string>
			<key>description</key>
			<string>Set A</string>
			<key>set</key>
			<array>
				<array>
					<string>2_我</string>
					<string>2_拿</string>
					<string>2_鉛筆</string>
				</array>
				<array>
					<string>2_哥哥</string>
					<string>2_著</string>
					<string>2_褲</string>
				</array>
				<array>
					<string>2_妹妹</string>
					<string>2_睇</string>
					<string>2_電視</string>
				</array>
				<array>
					<string>2_姐姐</string>
					<string>2_玩</string>
					<string>2_平板電腦</string>
				</array>
				<array>
					<string>2_老師</string>
					<string>2_坐</string>
					<string>2_巴士</string>
				</array>
				<array>
					<string>2_同學</string>
					<string>2_食</string>
					<string>2_紫菜</string>
				</array>
				<array>
					<string>2_助教</string>
					<string>2_洗</string>
					<string>2_毛巾</string>
				</array>
				<array>
					<string>2_校長</string>
					<string>2_飲</string>
					<string>2_茶</string>
				</array>
				<array>
					<string>2_工人姐姐</string>
					<string>2_買</string>
					<string>2_報紙</string>
				</array>
				<array>
					<string>2_你</string>
					<string>2_擺</string>
					<string>2_家課袋</string>
				</array>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>sqcs_lv3_0002</string>
			<key>level</key>
			<string>3</string>
			<key>name</key>
			<string>遊戲二</string>
			<key>description</key>
			<string>Set A</string>
			<key>set</key>
			<array>
				<array>
					<string>2_去</string>
					<string>2_公園</string>
					<string>2_玩滑梯</string>
				</array>
				<array>
					<string>2_去</string>
					<string>2_沙灘</string>
					<string>2_游泳</string>
				</array>
				<array>
					<string>2_去</string>
					<string>2_體育館</string>
					<string>2_打乒乓波</string>
				</array>
				<array>
					<string>2_去</string>
					<string>2_郵局</string>
					<string>2_寄信</string>
				</array>
				<array>
					<string>2_去</string>
					<string>2_診所</string>
					<string>2_睇醫生</string>
				</array>
				<array>
					<string>2_去</string>
					<string>2_離島</string>
					<string>2_踏單車</string>
				</array>
				<array>
					<string>2_去</string>
					<string>2_治療室</string>
					<string>2_上言語治療堂</string>
				</array>
				<array>
					<string>2_去</string>
					<string>2_街市</string>
					<string>2_買送</string>
				</array>
				<array>
					<string>2_去</string>
					<string>2_工場</string>
					<string>2_面試</string>
				</array>
				<array>
					<string>2_去</string>
					<string>2_家政室</string>
					<string>2_整三文治</string>
				</array>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>sqcs_lv3_0003</string>
			<key>level</key>
			<string>3</string>
			<key>name</key>
			<string>遊戲三</string>
			<key>description</key>
			<string>Set A</string>
			<key>set</key>
			<array>
				<array>
					<string>2_我</string>
					<string>2_去</string>
					<string>2_沙灘</string>
				</array>
				<array>
					<string>2_我</string>
					<string>2_去</string>
					<string>2_郊野公園</string>
				</array>
				<array>
					<string>2_我</string>
					<string>2_去</string>
					<string>2_科學館</string>
				</array>
				<array>
					<string>2_爸爸</string>
					<string>2_去</string>
					<string>2_銀行</string>
				</array>
				<array>
					<string>2_媽媽</string>
					<string>2_去</string>
					<string>2_街市</string>
				</array>
				<array>
					<string>2_校長</string>
					<string>2_去</string>
					<string>2_電腦室</string>
				</array>
				<array>
					<string>2_老師</string>
					<string>2_去</string>
					<string>2_教員室</string>
				</array>
				<array>
					<string>2_同學</string>
					<string>2_去</string>
					<string>2_小賣部</string>
				</array>
				<array>
					<string>2_爺爺</string>
					<string>2_去</string>
					<string>2_酒樓</string>
				</array>
				<array>
					<string>2_工人姐姐</string>
					<string>2_去</string>
					<string>2_麵包店</string>
				</array>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>sqcs_lv3_0004</string>
			<key>level</key>
			<string>3</string>
			<key>name</key>
			<string>遊戲四</string>
			<key>description</key>
			<string>Set A</string>
			<key>set</key>
			<array>
				<array>
					<string>2_我</string>
					<string>2_去</string>
					<string>2_交功課</string>
				</array>
				<array>
					<string>2_我</string>
					<string>2_喜歡</string>
					<string>2_跳舞</string>
				</array>
				<array>
					<string>2_姐姐</string>
					<string>2_喜歡</string>
					<string>2_打籃球</string>
				</array>
				<array>
					<string>2_妹妹</string>
					<string>2_驚</string>
					<string>2_行雷閃電</string>
				</array>
				<array>
					<string>2_弟弟</string>
					<string>2_驚</string>
					<string>2_食藥</string>
				</array>
				<array>
					<string>2_哥哥</string>
					<string>2_排隊</string>
					<string>2_玩滑梯</string>
				</array>
				<array>
					<string>2_媽媽</string>
					<string>2_有</string>
					<string>2_拖地</string>
				</array>
				<array>
					<string>2_爸爸</string>
					<string>2_冇</string>
					<string>2_掉垃圾</string>
				</array>
				<array>
					<string>2_同學</string>
					<string>2_停止</string>
					<string>2_玩玩具</string>
				</array>
				<array>
					<string>2_妹妹</string>
					<string>2_幫手</string>
					<string>2_執拾房間</string>
				</array>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>sqcs_lv4_0001</string>
			<key>level</key>
			<string>4</string>
			<key>name</key>
			<string>遊戲一</string>
			<key>description</key>
			<string>Set A</string>
			<key>set</key>
			<array>
				<array>
					<string>2_擺</string>
					<string>2_水樽</string>
					<string>2_係</string>
					<string>2_餐檯</string>
				</array>
				<array>
					<string>2_收埋</string>
					<string>2_手冊</string>
					<string>2_係</string>
					<string>2_書包</string>
				</array>
				<array>
					<string>2_擺</string>
					<string>2_聖誕卡</string>
					<string>2_係</string>
					<string>2_聖誕樹</string>
				</array>
				<array>
					<string>2_擺</string>
					<string>2_瓜子</string>
					<string>2_係</string>
					<string>2_全盒</string>
				</array>
				<array>
					<string>2_擺</string>
					<string>2_士多啤梨</string>
					<string>2_係</string>
					<string>2_碟</string>
				</array>
				<array>
					<string>2_貼</string>
					<string>2_膠紙</string>
					<string>2_係</string>
					<string>2_簿</string>
				</array>
				<array>
					<string>2_收埋</string>
					<string>2_鉛筆</string>
					<string>2_係</string>
					<string>2_筆袋筆盒</string>
				</array>
				<array>
					<string>2_收埋</string>
					<string>2_錢</string>
					<string>2_係</string>
					<string>2_銀包</string>
				</array>
				<array>
					<string>2_收埋</string>
					<string>2_手提電話</string>
					<string>2_係</string>
					<string>2_書包</string>
				</array>
				<array>
					<string>2_收埋</string>
					<string>2_校服</string>
					<string>2_係</string>
					<string>2_櫃</string>
				</array>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>sqcs_lv4_0002</string>
			<key>level</key>
			<string>4</string>
			<key>name</key>
			<string>遊戲二</string>
			<key>description</key>
			<string>Set A</string>
			<key>set</key>
			<array>
				<array>
					<string>2_我</string>
					<string>2_拿</string>
					<string>2_鉛筆</string>
					<string>2_做習作功課</string>
				</array>
				<array>
					<string>2_我</string>
					<string>2_拿</string>
					<string>2_手提電話</string>
					<string>2_聽歌</string>
				</array>
				<array>
					<string>2_姐姐</string>
					<string>2_用</string>
					<string>2_微波爐</string>
					<string>2_叮食</string>
				</array>
				<array>
					<string>2_弟弟</string>
					<string>2_用</string>
					<string>2_電腦</string>
					<string>2_睇YouTube</string>
				</array>
				<array>
					<string>2_妹妹</string>
					<string>2_著</string>
					<string>2_校服</string>
					<string>2_返學</string>
				</array>
				<array>
					<string>2_哥哥</string>
					<string>2_著</string>
					<string>2_運動衫</string>
					<string>2_跑步</string>
				</array>
				<array>
					<string>2_爸爸</string>
					<string>2_帶</string>
					<string>2_飯盒</string>
					<string>2_返工</string>
				</array>
				<array>
					<string>2_媽媽</string>
					<string>2_帶</string>
					<string>2_姐姐</string>
					<string>2_返學</string>
				</array>
				<array>
					<string>2_妹妹</string>
					<string>2_見到</string>
					<string>2_爺爺</string>
					<string>2_行山</string>
				</array>
				<array>
					<string>2_婆婆</string>
					<string>2_見到</string>
					<string>2_妹妹</string>
					<string>2_跳舞</string>
				</array>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>sqcs_lv4_0003</string>
			<key>level</key>
			<string>4</string>
			<key>name</key>
			<string>遊戲三</string>
			<key>description</key>
			<string>Set A</string>
			<key>set</key>
			<array>
				<array>
					<string>2_我</string>
					<string>2_食</string>
					<string>2_紅色</string>
					<string>2_蘋果</string>
				</array>
				<array>
					<string>2_我</string>
					<string>2_飲</string>
					<string>2_淡</string>
					<string>2_荳奶</string>
				</array>
				<array>
					<string>2_姐姐</string>
					<string>2_喜歡</string>
					<string>2_小</string>
					<string>2_貓</string>
				</array>
				<array>
					<string>2_爸爸</string>
					<string>2_買</string>
					<string>2_長</string>
					<string>2_間尺</string>
				</array>
				<array>
					<string>2_妹妹</string>
					<string>2_要</string>
					<string>2_多d</string>
					<string>2_紫菜</string>
				</array>
				<array>
					<string>2_媽媽</string>
					<string>2_要</string>
					<string>2_少d</string>
					<string>2_飯</string>
				</array>
				<array>
					<string>2_我</string>
					<string>2_有</string>
					<string>2_星形</string>
					<string>2_擦膠</string>
				</array>
				<array>
					<string>2_工人姐姐</string>
					<string>2_冇</string>
					<string>2_乾</string>
					<string>2_毛巾</string>
				</array>
				<array>
					<string>2_我</string>
					<string>2_見到</string>
					<string>2_長方形</string>
					<string>2_筆袋筆盒</string>
				</array>
				<array>
					<string>2_弟弟</string>
					<string>2_見到</string>
					<string>2_大</string>
					<string>2_蝴蝶</string>
				</array>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>sqcs_lv4_0004</string>
			<key>level</key>
			<string>4</string>
			<key>name</key>
			<string>遊戲四</string>
			<key>description</key>
			<string>Set A</string>
			<key>set</key>
			<array>
				<array>
					<string>2_去</string>
					<string>2_街市</string>
					<string>2_買</string>
					<string>2_菜</string>
				</array>
				<array>
					<string>2_去</string>
					<string>2_超級市場2</string>
					<string>2_買</string>
					<string>2_薯片</string>
				</array>
				<array>
					<string>2_去</string>
					<string>2_文具店</string>
					<string>2_買</string>
					<string>2_原子筆</string>
				</array>
				<array>
					<string>2_係</string>
					<string>2_快餐店2</string>
					<string>2_食</string>
					<string>2_雞髀</string>
				</array>
				<array>
					<string>2_去</string>
					<string>2_酒樓</string>
					<string>2_食</string>
					<string>2_叉燒包</string>
				</array>
				<array>
					<string>2_係</string>
					<string>2_甜品店</string>
					<string>2_食</string>
					<string>2_糖水</string>
				</array>
				<array>
					<string>2_係</string>
					<string>2_公園</string>
					<string>2_飲</string>
					<string>2_汽水</string>
				</array>
				<array>
					<string>2_係</string>
					<string>2_操場</string>
					<string>2_飲</string>
					<string>2_紙包飲品</string>
				</array>
				<array>
					<string>2_係</string>
					<string>2_電腦室</string>
					<string>2_玩</string>
					<string>2_電腦</string>
				</array>
				<array>
					<string>2_去</string>
					<string>2_便利店2</string>
					<string>2_買</string>
					<string>2_香口膠</string>
				</array>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>sqcs_lv5_0001</string>
			<key>level</key>
			<string>5</string>
			<key>name</key>
			<string>遊戲一</string>
			<key>description</key>
			<string>排數字</string>
			<key>set</key>
			<array>
				<array>
					<string>2_媽媽</string>
					<string>2_擺</string>
					<string>2_蘋果</string>
					<string>2_係</string>
					<string>2_雪櫃</string>
				</array>
				<array>
					<string>2_妹妹</string>
					<string>2_擺</string>
					<string>2_水樽</string>
					<string>2_係</string>
					<string>2_書包</string>
				</array>
				<array>
					<string>2_姐姐</string>
					<string>2_擺</string>
					<string>2_搖控</string>
					<string>2_係</string>
					<string>2_梳化</string>
				</array>
				<array>
					<string>2_收銀員</string>
					<string>2_擺</string>
					<string>2_牙膏</string>
					<string>2_係</string>
					<string>2_購物袋</string>
				</array>
				<array>
					<string>2_廚師</string>
					<string>2_擺</string>
					<string>2_雞翼</string>
					<string>2_係</string>
					<string>2_焗爐</string>
				</array>
				<array>
					<string>2_工人姐姐</string>
					<string>2_擺</string>
					<string>2_麵包</string>
					<string>2_係</string>
					<string>2_餐檯</string>
				</array>
				<array>
					<string>2_老師</string>
					<string>2_貼</string>
					<string>2_星星</string>
					<string>2_係</string>
					<string>2_窗</string>
				</array>
				<array>
					<string>2_同學</string>
					<string>2_貼</string>
					<string>2_膠紙</string>
					<string>2_係</string>
					<string>2_簿</string>
				</array>
				<array>
					<string>2_弟弟</string>
					<string>2_收埋</string>
					<string>2_波</string>
					<string>2_係</string>
					<string>2_櫃</string>
				</array>
				<array>
					<string>2_BB</string>
					<string>2_收埋</string>
					<string>2_匙羹</string>
					<string>2_係</string>
					<string>2_床</string>
				</array>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>sqcs_lv5_0002</string>
			<key>level</key>
			<string>5</string>
			<key>name</key>
			<string>遊戲二</string>
			<key>description</key>
			<string>排數字</string>
			<key>set</key>
			<array>
				<array>
					<string>2_我</string>
					<string>2_見到</string>
					<string>2_弟弟</string>
					<string>2_食</string>
					<string>2_壽司</string>
				</array>
				<array>
					<string>2_老師</string>
					<string>2_見到</string>
					<string>2_同學</string>
					<string>2_玩</string>
					<string>2_平板電腦</string>
				</array>
				<array>
					<string>2_老師</string>
					<string>2_拿</string>
					<string>2_鉸剪</string>
					<string>2_剪</string>
					<string>2_膠紙</string>
				</array>
				<array>
					<string>2_媽媽</string>
					<string>2_拿</string>
					<string>2_刀</string>
					<string>2_切</string>
					<string>2_生日蛋糕</string>
				</array>
				<array>
					<string>2_爸爸</string>
					<string>2_帶</string>
					<string>2_手提電話</string>
					<string>2_去</string>
					<string>2_跑步</string>
				</array>
				<array>
					<string>2_媽媽</string>
					<string>2_帶</string>
					<string>2_妹妹</string>
					<string>2_去</string>
					<string>2_睇戲</string>
				</array>
				<array>
					<string>2_我</string>
					<string>2_帶</string>
					<string>2_玩具</string>
					<string>2_返學</string>
					<string>2_玩</string>
				</array>
				<array>
					<string>2_媽媽</string>
					<string>2_帶</string>
					<string>2_飯盒</string>
					<string>2_返工</string>
					<string>2_食</string>
				</array>
				<array>
					<string>2_媽媽</string>
					<string>2_煲湯</string>
					<string>2_畀</string>
					<string>2_我</string>
					<string>2_飲</string>
				</array>
				<array>
					<string>2_老師</string>
					<string>2_買</string>
					<string>2_朱古力</string>
					<string>2_畀</string>
					<string>2_我</string>
				</array>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>sqcs_lv5_0003</string>
			<key>level</key>
			<string>5</string>
			<key>name</key>
			<string>遊戲三</string>
			<key>description</key>
			<string>排數字</string>
			<key>set</key>
			<array>
				<array>
					<string>2_放假</string>
					<string>2_哥哥</string>
					<string>2_去</string>
					<string>2_郊野公園</string>
					<string>2_燒烤</string>
				</array>
				<array>
					<string>2_放假</string>
					<string>2_弟弟</string>
					<string>2_去</string>
					<string>2_公園</string>
					<string>2_打鞦韆</string>
				</array>
				<array>
					<string>2_小息</string>
					<string>2_同學</string>
					<string>2_係</string>
					<string>2_操場</string>
					<string>2_打籃球</string>
				</array>
				<array>
					<string>2_放學</string>
					<string>2_我</string>
					<string>2_去</string>
					<string>2_圖書館</string>
					<string>2_睇圖書</string>
				</array>
				<array>
					<string>2_下午</string>
					<string>2_婆婆</string>
					<string>2_係</string>
					<string>2_露台</string>
					<string>2_淋花</string>
				</array>
				<array>
					<string>2_上午</string>
					<string>2_爺爺</string>
					<string>2_去</string>
					<string>2_酒樓</string>
					<string>2_飲茶</string>
				</array>
				<array>
					<string>2_夜晚</string>
					<string>2_媽媽</string>
					<string>2_係</string>
					<string>2_廚房</string>
					<string>2_煮飯</string>
				</array>
				<array>
					<string>2_中秋節</string>
					<string>2_姐姐</string>
					<string>2_去</string>
					<string>2_公園</string>
					<string>2_賞月</string>
				</array>
				<array>
					<string>2_放工</string>
					<string>2_爸爸</string>
					<string>2_去</string>
					<string>2_戲院</string>
					<string>2_睇戲</string>
				</array>
				<array>
					<string>2_聖誕聯歡會</string>
					<string>2_同學</string>
					<string>2_係</string>
					<string>2_禮堂</string>
					<string>2_睇表演</string>
				</array>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>sqcs_lv6_0001</string>
			<key>level</key>
			<string>6</string>
			<key>name</key>
			<string>遊戲一</string>
			<key>description</key>
			<string>SetA Description</string>
			<key>set</key>
			<array>
				<array>
					<string>2_我</string>
					<string>2_擺</string>
					<string>2_紅色</string>
					<string>書</string>
					<string>2_係</string>
					<string>2_書檯</string>
				</array>
				<array>
					<string>2_工人姐姐</string>
					<string>2_擺</string>
					<string>2_污糟</string>
					<string>2_衫</string>
					<string>2_係</string>
					<string>洗衣機</string>
				</array>
				<array>
					<string>2_姐姐</string>
					<string>2_擺</string>
					<string>2_濕</string>
					<string>2_遮</string>
					<string>2_係</string>
					<string>2_露台</string>
				</array>
				<array>
					<string>2_侍應生</string>
					<string>2_擺</string>
					<string>2_乾淨</string>
					<string>2_杯</string>
					<string>2_係</string>
					<string>2_餐檯</string>
				</array>
				<array>
					<string>2_妹妹</string>
					<string>2_擺</string>
					<string>2_短</string>
					<string>2_間尺</string>
					<string>2_係</string>
					<string>筆盒</string>
				</array>
				<array>
					<string>2_老師</string>
					<string>2_貼</string>
					<string>2_彩色</string>
					<string>2_星星</string>
					<string>2_係</string>
					<string>2_簿</string>
				</array>
				<array>
					<string>2_哥哥</string>
					<string>2_收埋</string>
					<string>2_黑色</string>
					<string>2_原子筆</string>
					<string>2_係</string>
					<string>2_書檯</string>
				</array>
				<array>
					<string>2_妹妹</string>
					<string>2_收埋</string>
					<string>2_黃色</string>
					<string>2_裙</string>
					<string>2_係</string>
					<string>2_櫃</string>
				</array>
				<array>
					<string>2_弟弟</string>
					<string>2_踢</string>
					<string>2_大</string>
					<string>2_波</string>
					<string>2_去</string>
					<string>檯</string>
				</array>
				<array>
					<string>2_爸爸</string>
					<string>2_推</string>
					<string>2_高</string>
					<string>2_櫃</string>
					<string>2_去</string>
					<string>2_睡房</string>
				</array>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>sqcs_lv6_0002</string>
			<key>level</key>
			<string>6</string>
			<key>name</key>
			<string>遊戲二</string>
			<key>description</key>
			<string>SetA Description</string>
			<key>set</key>
			<array>
				<array>
					<string>2_端午節</string>
					<string>2_爸爸</string>
					<string>2_係</string>
					<string>2_客廳</string>
					<string>2_食</string>
					<string>2_dumpling</string>
				</array>
				<array>
					<string>2_中秋節</string>
					<string>2_我</string>
					<string>2_係</string>
					<string>2_公園</string>
					<string>2_食</string>
					<string>2_月餅</string>
				</array>
				<array>
					<string>2_國慶日</string>
					<string>2_我</string>
					<string>2_去</string>
					<string>2_金紫荊廣場</string>
					<string>2_睇</string>
					<string>2_升旗禮</string>
				</array>
				<array>
					<string>2_小息</string>
					<string>2_同學</string>
					<string>2_去</string>
					<string>2_小賣部</string>
					<string>2_買</string>
					<string>2_薯片</string>
				</array>
				<array>
					<string>2_放學</string>
					<string>2_弟弟</string>
					<string>2_去</string>
					<string>2_炸雞店</string>
					<string>2_食</string>
					<string>2_雞翼</string>
				</array>
				<array>
					<string>2_農曆新年</string>
					<string>2_我</string>
					<string>2_去</string>
					<string>2_爺爺</string>
					<string>2_屋企</string>
					<string>2_拜年</string>
				</array>
				<array>
					<string>2_放假</string>
					<string>2_姐姐</string>
					<string>2_去</string>
					<string>2_海洋公園</string>
					<string>2_睇</string>
					<string>2_熊貓</string>
				</array>
				<array>
					<string>2_暑假</string>
					<string>2_哥哥</string>
					<string>2_係</string>
					<string>2_屋企</string>
					<string>2_玩</string>
					<string>2_砌圖</string>
				</array>
				<array>
					<string>2_生日</string>
					<string>2_我</string>
					<string>2_係</string>
					<string>2_屋企</string>
					<string>2_食</string>
					<string>2_生日蛋糕</string>
				</array>
				<array>
					<string>2_上午</string>
					<string>2_爸爸</string>
					<string>2_係</string>
					<string>2_快餐店2</string>
					<string>2_食</string>
					<string>2_早餐</string>
				</array>
			</array>
		</dict>
	</array>
</dict>
</plist>
