<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default_profile_id</key>
	<string>profile001</string>
	<key>language</key>
	<string>tw</string>
	<key>setting_lock</key>
	<false/>
	<key>safe_import</key>
	<false/>
	<key>need_reload</key>
	<false/>
</dict>
</plist>
